@import url(reset.css);
.main{
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
}
    .Text p{
        padding: 20px;
        font-size: 24px;
        background: #eee;
        color: #3d3d3d;
        margin: 30px 0;
    }
.mainBox{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}



/*.box{*/
   /*width: 200px;*/
   /*height: 200px;*/
   /*margin-left: 50px;*/
   /*float: left;*/
/*}*/

/*.boxHidded{*/
   /*visibility: hidden;*/
/*}*/
/*.fadeInUp, .fadeOutDown{*/
    /*visibility: visible;*/
/*}*/

/*.delay-05s{*/
    /*-webkit-animation-delay: .05s;*/
    /*-moz-animation-delay: .05s;*/
    /*-o-animation-delay: .05s;*/
    /*animation-delay: .05s;*/
/*}*/
 /**/
/*.delay-1s{*/
    /*-webkit-animation-delay: 0.1s;*/
    /*-moz-animation-delay: 0.1s;*/
    /*-o-animation-delay: 0.1s;*/
    /*animation-delay: 0.1s;*/
/*}*/
